body {
  margin: 0;
  background: black;
  color: white;
  font-family: Arial;
  text-align: center;
  overflow: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  margin-top: 120px;
  z-index: 2;
}

input {
  padding: 10px;
  width: 260px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px 20px;
  margin: 8px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background: gold;
  font-weight: bold;
}

.buy {
  background: lime;
}

.hidden {
  display: none;
}
